<h3>注文履歴詳細</h3>
<p>購入者</p>
<p>注文日</p>
<p>配送先</p>
<p>支払方法</p>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    </thead>
    <tbody>
      <td></td>
    </tbody>
  </table>