<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4>ジャンル編集</h4>
        <p>ジャンル名</p>
            <%= form_with model: @genre,url:admin_genre_path(@genre.id) do |f| %>
             <%= f.text_field :name %>
             <%= f.submit '変更保存', class:"btn btn-success" %>
            <% end %>
    </div>
  </div>
</div>